<p id="notice"><%= notice %></p>
<h1 class="center">Recent Articles</h1>
<hr></hr>

<% @articles.each do |article| %>
  <%= render 'layouts/preview', :article => article %>
<% end %>

<%= will_paginate @articles %>
<br>
<% if can? :create, Article %>
  <%= link_to 'New Article', new_article_path %>
<% end %>