<div class="jumbotron"><%= render 'layouts/carousel', object: @featured_articles %></div>

<% @articles.in_groups_of(3).each do |group| %>
  <div class="row">
      <% group.each do |article| %>
        <% if item %>
          <div class="col-sm-4 center padded">
            <%= link_to image_tag(article.image, size: ("200")), article %><br>
            <%= link_to article.title, article, class: "center h2"%>
            <br>
          </div>
        <% end %>
      <% end %>
  </div>
<% end %>